In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hovd,MN,2022-06-09 14:03:13,48.0056,91.6419,53.65,19,0,12.30
1,1,Ponta Do Sol,PT,2022-06-09 14:03:15,32.6667,-17.1000,75.83,72,6,1.57
2,2,Warwick,US,2022-06-09 14:03:16,41.7001,-71.4162,70.54,90,75,14.97
3,3,Kayerkan,RU,2022-06-09 14:03:17,69.3497,87.7602,50.52,49,53,4.94
4,4,Kieta,PG,2022-06-09 14:03:18,-6.2167,155.6333,78.15,84,65,1.86

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Ponta Do Sol,PT,2022-06-09 14:03:15,32.6667,-17.1000,75.83,72,6,1.57
4,4,Kieta,PG,2022-06-09 14:03:18,-6.2167,155.6333,78.15,84,65,1.86
13,13,Hithadhoo,MV,2022-06-09 14:03:28,-0.6000,73.0833,83.68,69,71,4.74
20,20,Victoria,HK,2022-06-09 13:58:54,22.2855,114.1577,82.45,87,99,11.99
24,24,Atuona,PF,2022-06-09 14:03:39,-9.8000,-139.0333,76.51,75,51,14.50
28,28,Touros,BR,2022-06-09 14:03:44,-5.1989,-35.4608,80.76,78,66,10.27
29,29,Butaritari,KI,2022-06-09 14:03:45,3.0707,172.7902,80.60,78,100,12.50
39,39,Waling,NP,2022-06-09 14:03:57,27.9833,83.7667,81.99,59,57,3.98
43,43,Tubuala,PA,2022-06-09 14:04:02,9.5167,-79.0333,82.40,74,28,6.17
47,47,Bethel,US,2022-06-09 14:05:08,41.3712,-73.4140,75.07,91,100,9.22

In [12]:
preferred_cities_df.count()

City_ID       194
City          194
Country       191
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1   Ponta Do Sol      PT     75.83  32.6667  -17.1000
4          Kieta      PG     78.15  -6.2167  155.6333
13     Hithadhoo      MV     83.68  -0.6000   73.0833
20      Victoria      HK     82.45  22.2855  114.1577
24        Atuona      PF     76.51  -9.8000 -139.0333
28        Touros      BR     80.76  -5.1989  -35.4608
29    Butaritari      KI     80.60   3.0707  172.7902
39        Waling      NP     81.99  27.9833   83.7667
43       Tubuala      PA     82.40   9.5167  -79.0333
47        Bethel      US     75.07  41.3712  -73.4140

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [28]:
hotel_df.head()

            City Country  Max Temp      Lat       Lng         Hotel Name
1   Ponta Do Sol      PT     75.83  32.6667  -17.1000     Hotel do Campo
4          Kieta      PG     78.15  -6.2167  155.6333  Uruna Bay Retreat
13     Hithadhoo      MV     83.68  -0.6000   73.0833  Scoop Guest House
20      Victoria      HK     82.45  22.2855  114.1577       Mini Central
24        Atuona      PF     76.51  -9.8000 -139.0333        Villa Enata

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))